<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omni.wallet_mainnet.baselibrary">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <!--配置Glide自定义缓存-->
        <meta-data
            android:name="com.omni.wallet_mainnet.baselibrary.utils.image.glide.GlideCacheModule"
            android:value="GlideModule" />
    </application>
</manifest>
