*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.gradle/
/.idea/
/gradle.properties
/captures/
error.text
/error.txt
/*.log
/libjpeg/build
/.github/workflows/codeql.yml

/hs_err_pid12400.log
/hs_err_pid14596.log
/hs_err_pid26872.log
/replay_pid12400.log
/replay_pid14596.log
/replay_pid26872.log
/libjpeg/build/
