*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.gradle/
/.idea/
/gradle.properties
/captures/
error.text
/error.txt
/*.log
/libjpeg/build
