<manifest package="com.omni.wallet.gallery"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name="com.omni.wallet.gallery.activity.GalleryChooseImageActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.omni.wallet.gallery.activity.GalleryBrowseImageActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
